@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

@layer components {
    .max-w-layout {
        @apply 2xl:max-w-[1400px] xl:max-w-[1300px] max-w-[90vw] mx-auto;
    }

    .flex-center {
        @apply flex items-center justify-center;
    }

    .flex-around {
        @apply flex items-center justify-around;
    }

    .flex-between {
        @apply flex items-center justify-between;
    }

    .flex-col-center {
        @apply flex flex-col items-center justify-center;
    }

    .flex-col-start {
        @apply flex flex-col items-center justify-start;
    }
}

// Fonts and typography
@layer components {
    .font-big {
        @apply text-[4rem];
    }

    .h1-font {
        @apply text-[2.25rem];
    }

    .h2-font {
        @apply text-[1.5rem];
    }

    .h3-font {
        @apply text-[1.25rem];
    }

    .normal-font {
        @apply text-base;
    }

    .small-font {
        @apply text-sm;
    }

    .tiny-font {
        @apply text-[0.625rem];
    }

    .main-btn {
        @apply bg-main-foreground text-white py-3 px-6 color-transition hover:bg-main-accent font-semibold;
    }


    .accent-btn {
        @apply bg-main-accent text-white py-3 px-6 color-transition hover:bg-main-foreground font-semibold;
    }

    .pagination-btn{
        @apply p-3 bg-main-foreground hover:bg-main-accent color-transition text-white rounded-full;
    }

    .main-title-typography {
        @apply text-3xl font-bold text-main-foreground  md:text-4xl;
    }

    .main-subtitle-typography {
        @apply text-xl font-semibold text-main-foreground md:text-2xl lg:text-3xl;
    }

    .main-text-typography {
        @apply text-base text-main-foreground md:text-lg lg:text-xl;
    }
}



@layer components {
    .color-transition {
        @apply transition-colors duration-500 ease-in-out;
    }

    .all-transition {
        @apply transition-all duration-500 ease-in-out;
    }

    .mobile-nav-links {
        @apply block p-4 text-sm font-semibold text-gray-700 hover: bg-accent-1 dark:hover:bg-gray-900 hover:text-white rounded-xl;
    }

    .button-hover {
        @apply hover: bg-accent-1;
    }

}



::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #333333;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #636363;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.disable-scroll {
    overflow: hidden;
}

.nav-links {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: #c33538;
        transition: all 0.3s ease-in-out;
    }

    &:hover:after {
        width: 100%;
        left: 0;
    }

    &:active:after {
        width: 100%;
        left: 0;
    }


}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
 
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
 
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
 
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
 
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
 
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
 
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
 
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
 
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
 
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
 
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input{
    @apply relative;
    //select the file button and put it on the right side of the input
    &::-webkit-file-upload-button {
        @apply bg-main-foreground text-white absolute py-3 border-none cursor-pointer -right-1 top-0 color-transition hover:bg-main-accent font-semibold ;
    }
}